@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #ffffff;
    --dark-color: #252B42;
    --link-color: #737373;
    --max-width: 1050px;
}

a {
    text-decoration: none;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

img {
    max-width: 100%;
}

body {
    font-family: "Montserrat", serif;
    line-height: 1.5rem;
}

#header {
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    padding: 0.55rem 1.5rem;
}

#header .contact,
#header .follow-middle,
#header .follow-end {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .contact {
    gap: 10px;
}

#header .contact .phone a,
#header .contact .email a {
    color: var(--white-color);
}

#header .contact .phone,
#header .contact .email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
}

#header .follow-middle {
    padding: 10px;
}

#header .follow-end {
    gap: 10px;
    padding: 10px;
}

#header .follow-end .icons {
    display: flex;
    gap: 10px;
    color: var(--white-color);
}

#header .follow-end .icons a {
    color: var(--white-color);
}

/* navbar  */
#navbar {
    display: flex;
    padding: 12px 0px 8px 0px;
    gap: 40px;
}

#navbar h3 {
    font-size: 1.5rem;
    width: 187px;
    color: var(--dark-color);
    padding: 13px 79px 13px 0;
    margin-left: 38px;
}

#navbar .navbar-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#navbar .navbar-info .navbar-links ul {
    display: flex;
    gap: 15px;
}

#navbar .navbar-info .navbar-links ul a {
    text-decoration: none;
    color: var(--link-color);
}

#navbar .navbar-info .navbar-links ul div {
    color: var(--link-color);
}

#navbar .navbar-info .navbar-icons {
    display: flex;
    align-items: center;
    justify-content: space- between;
    color: #23A6F0;
}

#navbar .navbar-info .navbar-icons div a {
    color: #23A6F0;
}

.user-i {
    width: 14px;
    height: 14px;
}

#navbar .navbar-info .navbar-icons {
    padding: 15px;
    position: relative;
}

#navbar .navbar-info .navbar-icons div {
    margin: 0px 15px;
    text-decoration: none;
}

#navbar .navbar-info .navbar-icons i {
    margin: 0px 15px;
}

#navbar .navbar-info .navbar-icons .hamburger-icon {
    display: none;
    cursor: pointer;
}

.mobile-links {
    display: none;
    transition: all 0.3s ease-in-out;
}

/* hero-section */

#hero {
    width: 100%;
    height: 716px;
    margin: auto;
    position: relative;
}

#hero .prev {
    position: absolute;
    top: 50%;
    left: 40px;
    color: var(--white-color);
    cursor: pointer;
    z-index: 1;
}

#hero .next {
    position: absolute;
    top: 50%;
    right: 40px;
    color: var(--white-color);
    cursor: pointer;
    z-index: 1;
}

#hero .page {
    position: absolute;
    display: flex;
    gap: 1px;
    bottom: 49px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#hero .page div {
    width: 62px;
    height: 10px;
    background-color: var(--white-color);
    opacity: 50%;
    transition: opacity 0.3s;
}

#hero .page div.active {
    opacity: 1;
    background-color: var(--white-color);
}

.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: transform 1s ease-in-out;
}

.slide img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: 50% 42%;
}

.slide .hero-content {
    width: 45%;
    color: var(--white-color);
    position: absolute;
    display: flex;
    gap: 35px;
    /* top: 160px; */
    top: 22%;
    /* left: 198px; */
    left: 13%;
    flex-direction: column;
    justify-content: space-between;
}

.slide .hero-content h5 {
    font-size: 16px;
    font-weight: 700;
}

.slide .hero-content h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
}

.slide .hero-content h4 {
    font-size: 20px;
    color: #FAFAFA;
    font-weight: 400;
    line-height: 30px;
    width: 75%;
}

.slide .hero-content a {
    display: inline-block;
    font-size: 20px;
    color: var(--white-color);
    padding: 15px 40px;
    width: auto;
    background-color: #2DC071;
    align-self: flex-start;
    border-radius: 5px;
}

/* editors-pick-section */

#editors-pick {
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 80px 0;
    background-color: #FAFAFA;
}

.editors-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

#editors-pick .top-content {
    padding-bottom: 48px;
}

#editors-pick .top-content h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#editors-pick .top-content p {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
}

.editors-grid {
    display: grid;
    height: 500px;
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;
}

.editors-grid div {
    position: relative;
    overflow: hidden;
}

.editors-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
}

.editors-grid div:nth-child(1),
.editors-grid div:nth-child(2) {
    grid-row: span 2;
}

.editors-grid div:nth-child(3),
.editors-grid div:nth-child(4) {
    grid-row: span 1;
}

.editors-grid div h5 {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-color);
    background-color: var(--white-color);
}

.editors-grid .men h5 {
    left: 31px;
    bottom: 26px;
    padding: 12px 64px;
}

.editors-grid .women h5 {
    left: 21px;
    bottom: 18px;
    padding: 12px 33.5px;
}

.editors-grid .accessories h5 {
    left: 14px;
    bottom: 23px;
    padding: 12px 26px;
}

.editors-grid .kids h5 {
    left: 18px;
    bottom: 18px;
    padding: 12px 40px;
}

/* featured-section */

#featured {
    text-align: center;
    width: 100%;
    margin: auto;
    height: 100%;
}

.featured-container {
    max-width: var(--max-width);
    margin: 0 auto;
}

#featured .top-content {
    padding: 80px 0;
}

#featured .top-content h4 {
    font-size: 20px;
    color: #737373;
    font-weight: 400;
}

#featured .top-content h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 2rem;
    padding: 10px 0;
}

#featured .top-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #737373;
}

.featured-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 80px;
    padding: 0 37.5px;
    padding-bottom: 80px;
}

.featured-grid img {
    /* height: 427px; */
    width: 100%;
    display: block;
}

.featured-grid .pro-content {
    padding: 25px 25px 35px 25px;
}

.featured-grid .pro-content h5 {
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 700;
}

.featured-grid .pro-content a {
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
}

.featured-grid .pro-content .price {
    padding: 5px 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

.featured-grid .pro-content .price h5 {
    font-size: 16px;
    font-weight: 700;
}

.featured-grid .pro-content .price h5:first-child {
    color: #BDBDBD;

}

.featured-grid .pro-content .price h5:last-child {
    color: #23856D;
}

.featured-grid .pro-content .colors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.featured-grid .pro-content .colors div {
    border-radius: 50%;
}

.featured-grid .pro-content .colors div:nth-child(1) {
    width: 16px;
    height: 16px;
    background-color: #23A6F0;
}

.featured-grid .pro-content .colors div:nth-child(2) {
    width: 16px;
    height: 16px;
    background-color: #23856D;
}

.featured-grid .pro-content .colors div:nth-child(3) {
    width: 16px;
    height: 16px;
    background-color: #E77C40;

}

.featured-grid .pro-content .colors div:nth-child(4) {
    width: 16px;
    height: 16px;
    background-color: #252B42;
}


/* hero-b */
#hero-b {
    width: 100%;
    height: 650px;
    background-color: #23856D;
    color: var(--white-color);
    position: relative;
}

#hero-b .prev {
    position: absolute;
    top: 50%;
    left: 40px;
    color: var(--white-color);
    cursor: pointer;
    z-index: 1;
}

#hero-b .next {
    position: absolute;
    top: 50%;
    right: 40px;
    color: var(--white-color);
    cursor: pointer;
    z-index: 1;
}

#hero-b .hero-b-container {
    background-color: #23856D;
    height: 100%;
    width: 100%;
    transition: transform 1s ease-in-out;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    padding: 0px 140px;
    /* padding-top: 112px; */
    margin: 0 auto;
    gap: 20px;
    /* background-color: red; */
}


#hero-b .b-page {
    position: absolute;
    display: flex;
    gap: 1px;
    bottom: 49px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#hero-b .b-page div {
    width: 62px;
    height: 10px;
    background-color: var(--white-color);
    opacity: 50%;
    transition: opacity 0.3s;
}

#hero-b .b-page div.active {
    opacity: 1;
    background-color: var(--white-color);
}

.hero-b-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: yellow;
    /* margin-bottom: 80px; */
    z-index: 10;
}

.hero-b-left h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.hero-b-left h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
}

.hero-b-left p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 341px;
}

.hero-b-left div {
    display: inline-flex;
    gap: 34px;
    align-items: center;
    align-self: flex-start;
}

.hero-b-left div a {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: var(--white-color);
    padding: 15px 40px;
    width: auto;
    background-color: #2DC071;
    border-radius: 5px;
}

.hero-b-right {
    height: 100%;
    padding-top: 112px;
    overflow: hidden;
    background-color: blue;
}

.hero-b-right img {
    height: 120%;
    width: 110%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: 50%;
    display: block;
    margin-top: 80px;
    /* padding: 0px 33.5px; */
}


/* hero-c */

#hero-c {
    width: 100%;
    height: 682px;
    background-color: var(--white-color);
}

#hero-c .hero-c-container {
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* gap: 30px; */
}

.hero-c-left {
    height: 100%;
    width: 60%;
    overflow: hidden;
    position: relative;
}

.hero-c-left img {
    height: 120%;
    width: 110%;
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    left: -12%;
    top: -14.5%;
}

.hero-c-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-c-right h4 {
    font-weight: 700;
    font-size: 16px;
    color: #BDBDBD;
}

.hero-c-right h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: var(--dark-color);
}

.hero-c-right p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 70%;
    color: #737373;
}

.hero-c-right .btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: var(--white-color);
    padding: 15px 40px;
    width: auto;
    background-color: #2DC071;
    border-radius: 5px;
    margin-bottom: 10px;
}

.hero-c-right .btn.btn-light {
    color: #2DC071;
    background-color: var(--white-color);
    border: 1px solid #2DC071;
}

/* featured-post */
#featured-post {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
}

#featured-post .featured-post-container {
    max-width: var(--max-width);
    height: 100%;
    margin: 0 auto;
    padding: 112px 0;
}

#featured-post .top-content {
    text-align: center;
}

#featured-post .top-content h6 {
    font-size: 14px;
    color: #23A6F0;
    font-weight: 700;
}

#featured-post .top-content h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: var(--dark-color);
    padding: 10px 0;
}

#featured-post .top-content p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #737373;
    width: 470px;
    margin: 0 auto;
}

.featured-post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    margin-top: 80px;
    gap: 10px;
}

.featured-post-grid img {
    width: 100%;
    display: block;
    position: relative;
}

.featured-post-grid .overlay {
    position: relative;
}

.featured-post-grid .overlay::after {
    content: 'NEW';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    font-weight: 700;
    color: var(--white-color);
    background-color: #E74040;
    padding: 0 10px;
    border-radius: 3px;
}

.featured-post-grid .post-content {
    padding: 25px 25px 35px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 3px 0px;
}

.featured-post-grid .post-content .row-1 {
    display: flex;
    gap: 15px;
    font-size: 12px;
}

.featured-post-grid .post-content .row-2 {
    font-size: 20px;
    line-height: 30px;
    color: var(--dark-color);
    font-weight: 400;
}

.featured-post-grid .post-content .row-3 {
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    font-weight: 400;
}

.featured-post-grid .post-content .row-4 {
    padding: 15px 0;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #737373;
}

.featured-post-grid .post-content .row-4 i {
    color: #23A6F0;
}

.featured-post-grid .post-content .row-4 div small {
    color: #23856D;
}

.blue {
    color: #8EC2F2;
}

.featured-post-grid .post-content .row-5 {
    display: flex;
    align-items: center;
}

.featured-post-grid .post-content .row-5 h6 {
    font-size: 14px;
    font-weight: 700;
    color: #737373;
}

.featured-post-grid .post-content .row-5 i {
    color: #23A6F0;
}

/* footer */
#footer-top,
#footer-bottom,
#footer-bottom {
    width: 100%;
    height: 100%;
}

#footer-top,
#footer-bottom {
    background-color: #FAFAFA;
}

.footer-container {
    max-width: var(--max-width);
    margin: 0 auto;
    height: 100%;
}

#footer-top {
    padding: 40px 0;
}

#footer-top .top-content {
    display: flex;
    justify-content: space-between;
}

#footer-top .top-content h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--dark-color);
}

.footer-container .icons {
    display: flex;
    gap: 20px;
    color: var(--white-color);
}

.footer-container .icons a {
    color: #23A6F0;
}

#footer-middle {
    padding: 50px 0;
}

#footer-middle .middle-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer-middle .middle-content>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#footer-middle .middle-content h5 {
    font-size: 16px;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 10px;
}

#footer-middle .middle-content a {
    font-size: 14px;
    font-weight: 700;
    color: #737373;
}

#footer-middle .middle-content .col-5 .email {
    display: flex;
    align-items: center;
    /* background-color: red; */
}

#footer-middle .middle-content .col-5 .email input {
    padding: 21px 0 21px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #E6E6E6;
}

#footer-middle .middle-content .col-5 .email input::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    line-height: 28px;
}

#footer-middle .middle-content .col-5 .email a {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: var(--white-color);
    padding: 15px 22.5px;
    background-color: #23A6F0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
}

#footer-middle .middle-content .col-5 p {
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    color: #737373;
}

#footer-bottom {
    padding: 25px 0;
    text-align: center;
    margin: 0 auto;
}

#footer-bottom .bottom-content h6 {
    font-size: 14px;
    font-weight: 700;
    color: #737373;
}